<!DOCTYPE html>
<html lang="en">

<head>
    <title>page du Recruteur</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>

<body>

    <div class="p-5 bg-primary text-white text-center">
        <h1>RECRUTEUR</h1>
        <p>Bienvenue cher(e) recruteur(e)</p>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                
                <li class="nav-item">
                  <a class="nav-link active" href="moncompte">Mon compte</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="offrelistR">Toutes les offres</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="offresValides">Offres Valides</a>
              </li>
               
                <li class="nav-item" style="position: relative;">
                    <a class="nav-link " href="/signin">Deconnexion</a>
                </li>
            </ul>
        </div>
    </nav><a href="changer-type" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
    style="color: blue; background-color: black;">Devenir Admin</a>
    <div style="background-color: aqua;">
      <div class="text-center">
        <h2> Gestion des offres</h2>
        <p><a href="ajoutOffre" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
          style="color: blue;">Ajouter une nouvelle offre</a></p>

        
        
       <p> <a href="candidaturelist" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
        style="color: blue;">Liste des candidatures</a>
      </p>
           
       <p> <a href="ajoutOrg" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
        style="color: blue;">Ajouter une organisation</a></p>       
       <p> <a href="piecelist" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
        style="color: blue;">Afficher & Télécharger les dossiers des candidats</a></p>
      
      </br></br></br>


        <h2> Autres gestions</h2>
     
        
        <p> <a href="offresEx" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
          style="color: blue;">Liste des offres expirées</a></p>
          <p> <a href="offresValides" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
            style="color: blue;">Liste des offres encore valides</a></p>
            <p> <a href="" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
              style="color: blue;">Liste des candidat(ure)s à une offre specifique </a></p>

         <p> <a href="" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
          style="color: blue;">liste des demandes de joindre l’organisation en tant que 
recruteur</a></p>






      </div>
        
                    

</body>

</html>