<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="pageconnexion.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <title>PageDeCreationDeCompte</title>
</head>

<body>
  <section class="intro">
    <div class="mask d-flex align-items-center h-100 gradient-custom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-9 col-xl-7">
            <div class="card">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2">Creation de compte</h3>

                <form action="/signup" method="post">

                  <div class="row">
                    <div class="col-md-6 mb-4">

                      <div class="form-outline">
                        <input type="text" id="prenom" placeholder="veuiller saisir votre prenom" name="prenom"
                          class="form-control" />
                        <label class="form-label" for="prenom">Prenom</label>
                      </div>

                    </div>
                    <div class="col-md-6 mb-4">

                      <div class="form-outline">
                        <input type="text" id="nom" name="nom" placeholder="veuiller saisir votre nom"
                          class="form-control" />
                        <label class="form-label" for="nom">Nom</label>
                      </div>

                    </div>
                  </div>

                  <div class="row">


                  </div>




                  <div class="row">
                    <div class="col-md-6 mb-4">

                      <div class="form-outline">
                        <input type="email" id="email" name="email" placeholder="veuiller saisir votre adresse email"
                          class="form-control" />
                        <label class="form-label" for="email">Email</label>
                      </div>

                    </div>
                    <div class="col-md-6 mb-4">

                      <div class="form-outline">
                        <input type="tel" id="telephone" name="telephone"
                          placeholder="veuiller saisir votre numero de telephone" class="form-control" />
                        <label class="form-label" for="telephone">Telephone</label>
                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="col-md-6 mb-4">

                        <div class="form-outline">

                          <input type="password" id="pwd" name="pwd" class="form-control"
                            placeholder="veuiller saisir un mot de passe" />
                          <label class="form-label" for="pwd">Password</label>
                        </div>


                        <div class="mt-4">
                          <input class="btn btn-warning btn-lg" type="submit" value="Enregistrer" />
                        </div>

                      </div>
                    </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>

<!--<head></head>
  <body>
    <form method="post" action="/signup">
      Nom:<input type="text" name="nom"/></br>
      Prenom:<input type="text" name="prenom"/></br>
      Telephone:<input type="number" name="telephone"/></br>
      email:<input type="email" name="email"/></br>
      Mot de passe:<input type="password" name="pwd"/></br>
      <input type="submit" value="Enregistrer"/>

    </form>
  </body>
</html>
-->