<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>
        <%= title %>
    </h1>
   <p>Bienvenue cher user!!!!!!!
  </p>

   Vous etes un:</br>
   

   <a href="/candidat" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
    style="color: blue; background-color: aqua;">Candidat</a>

</br>

</br>
   

<a href="/recruteur" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
 style="color: blue; background-color: aqua;">Recruteur</a>

</br>

</br>
   

<a href="/admin" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
 style="color: blue; background-color: aqua;">Admin</a>

</br>

</br>






</body>
</html>